@media (max-width: 1146px) {
    .boost-contain {
        flex-direction: column;
    }
    .translation-management-software-block{
        flex-direction: column;
    }
    .translation-right-content{
        border: 0;
        margin-top: 20px;
        margin-left: 0;
    }
    .footer-right-content{
        margin-left: 0;

    }
    .footer-container{
        flex-direction: column;
    }
}

@media (max-width: 1106px) {
    .shorten-time-text {
        width: 350px;
    }
.edward-cooper-block{
    flex-direction: column;
    justify-content: space-around;
}
.edward-cooper-photo{
    margin: 20px;
}
.left-edward-cooper-text{
    margin-top: 20px;
}
}

@media (max-width: 1000px) {
    .shorten-time-text {
        width: 250px;
    }

    .localise-second-line {
        flex-direction: column;
    }

    .localise-first-line {
        flex-direction: column;
        margin-top: 0;
    }
}

@media (max-width: 950px) {
    .shorten-time-tittle {
        width: 265px;
    }
}

@media (max-width: 905px) {
    .main-content {
        flex-direction: column;
    }

    .control-localization-process {
        flex-direction: column;
    }

    .ensure-quality {
        flex-direction: column;
    }

    .ensure-quality-tittle {
        margin-top: 211px;
    }

    .less-work {
        flex-direction: column-reverse;
    }
    .footer-right-content{
        flex-direction: column;
    }
    .company-block{
        margin-left: 0;
    }
    .legal-block{
        margin-left: 0;
    }
    .support-block{
        margin-left: 0;
    }
}

@media (max-width: 850px) {
    .shorten-time {
        flex-direction: column-reverse;
    }

    .shorten-time-right-content {
        padding-top: 200px;
    }
    .left-edward-cooper-text{
        width: 628px;
    }
    .integrate-Lokalise_tittle{
        width: 491px;
    }
    .localization-made-easy_tittle{
        width: 684px;
    }
}
@media (max-width: 725px) {
    .promo-tittle{
        width: 600px;
    }
}
@media (max-width: 700px) {

    .left-edward-cooper-text{
        width: 528px;
    }
    .localization-made-easy_tittle {
        width: 384px;
        font-size: 50px;
    }
}

@media (max-width: 620px) {
    .promo-tittle{
        width: 513px;
    }
    .Log-in {
        margin-left: 0;
    }
    .integrate-Lokalise_text{
        width: 493px;
    }
}

@media (max-width: 555px) {
    .promo-tittle {
        margin: 0;
        width: 413px;
        font-size: 30px;
    }

    .ensure-quality-text {
        width: 380px;
    }

    .less-work-text {
        width: 405px;
    }
    .control-localization-process-title{
        width: 303px;
    }
    .left-edward-cooper-text{
        width: 428px;
    }
    .translation-management-tittle{
        width:361px;
    }
    .integrate-Lokalise_tittle {
        width: 391px;
        font-size: 40px;
    }
    .integrate-Lokalise_text {
        width: 393px;
    }
}

@media (max-width: 485px) {
.boost-contain{
    margin-left: 0;
}
    .text-in-main-content {
        width: 369px;
    }

    .tittle-in-main-content {
        font-size: 50px;
        width: 322px;
    }

    .control-localization-process-text {
        width: 360px;
    }

    .less-work-text {
        width: 305px;
    }
    .left-edward-cooper-text{
        width: 328px;
    }
    .translation-right-content{
        flex-direction: column;
        margin-bottom: 125px;
    }
    .translation-management-tittle{
        width: 261px;
    }
    .localization-made-easy_text{
        width: 231px;
    }
    .bottom-footer-left-content {
        flex-direction: column;
    }
    .footer-fix-position {
         margin-left: 0;
    }
    .bottom-footer_text{
        width: 75px;
    }
}

@media (max-width: 420px) {
    .promo-tittle {
        font-size: 25px;
        width: 313px;
    }

    .control-localization-process-text {
        width: 260px;
    }

    .ensure-quality-text {
        width: 280px;
    }

    .ensure-quality-tittle {
        width: 286px;
    }

    .manage-text-size {
        width: 280px;
    }

    .developer-text-size {
        width: 284px;
    }

    .translators-text {
        width: 278px;
    }
    .integrate-Lokalise_text {
        width: 293px;
    }
    .integrate-Lokalise_tittle {
        width: 291px;
    }
    .integrate-Lokalise_photo{
        display: none;
    }
    .localization-made-easy_tittle {
        width: 284px;
        font-size: 40px;
    }
}
@media (max-width: 380px) {
    .less-work-tittle {
        width: 248px;
        font-size: 40px;

    }
    .less-work-left-content{
        margin-top: 20px;
    }
    .shorten-time-tittle{
        font-size: 30px;
        width: 150px
    }
    .control-localization-process-title{
        font-size: 30px;
        width: 150px;
    }
    .less-work-text{
        width: 205px;
    }
}
@media (max-width: 370px) {
    .text-in-main-content {
        width: 269px;
    }

    .tittle-in-main-content {
        font-size: 40px;
    }


    .left-edward-cooper-text{
        width: 128px;
    }
}
@media (max-width: 350px) {
    .translation-management-tittle{
        width: 161px;
        font-size: 20px;
    }
    .bottom-footer{
        flex-direction: column;
    }
    .bottom-footer-right_text{
        width: 110px;
    }
    .bottom-footer-right_years{
        width: 80px;
    }
}

@media (max-width: 330px) {
    .promo-tittle {
        width: 113px
    }

    .control-localization-process-title {
        font-size: 40px;
        width: 193px;
    }

    .ensure-quality-text {
        width: 180px;
    }

    .less-work-text {
        width: 205px;
    }

    .less-work-tittle {
        font-size: 35px;
        width: 180px;
    }

    .first-item-text {
        width: 203px;
    }

    .second-item-text {
        width: 230px;
    }

    .third-item-text {
        width: 181px;
    }

    .localise-first-text {
        width: 209px;
    }

    .marketing-text {
        width: 208px;
    }

    .ioT-third-text {
        width: 222px;
    }

    .manage-text-size {
        width: 180px;
    }
    .developer-text-size{
        width: 184px;
    }
    .translators-text{
        width: 178px;
    }
    .tittle-in-main-content {
        font-size: 30px;
        width: 222px;
    }
    .integrate-Lokalise_tittle {
        width: 191px;
        font-size: 30px;
    }
    .integrate-Lokalise_text {
        width: 193px;
    }
    .localization-made-easy_tittle {
        width: 184px;
        font-size: 30px;
    }
    .case-studio_photo{
        display: none;
    }
    .case-studio_text{
        width: 190px;
    }
}

@media (max-width: 285px) {
    .text-in-main-content {
        width: 150px;
    }



    .control-localization-process-text {
        width: 160px;
    }

    .shorten-time-text {
        width: 150px;
    }
    .case-studio_tittle{
        width: 157px;
    }
}

@media (max-width: 250px) {
    .header-button {
        flex-direction: column-reverse;
        margin-left: 30px;
    }

    .Log-in {
        margin-left: 10px;
        margin-top: 10px;
    }

    .shorten-time-tittle {
        font-size: 40px;
        width: 65px;
    }

    .control-localization-process-title {
        width: 293px;
        font-size: 30px;
    }

    .less-work-tittle {
        font-size: 30px;
        width: 80px;
    }

    .manage-text-size {
        width: 80px;
    }
    .developer-text-size{
        width: 84px;
    }
}





